global
  log stdout format raw local0 info
  # Duplicate logs to local unix socket for persistence
  log {{ state_dir }}/log/haproxy.sock len 65535 format raw local0 info
  maxconn 2048

defaults
  log global
  mode http
  option httplog
  option dontlognull
  option forwardfor
  timeout connect 5s
  timeout client  50s
  timeout server  50s

# HAProxy config sections generated dynamically
# Sites and streams are written directly into enabled directories
