# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "ncdns"
version = "0.3.0"
edition = "2021"

[[bin]]
name = "ncdns"
test = true
bench = false
path = "src/main.rs"

[features]
dev = ["dep:utoipa", "nanocld_client/utoipa", "nanocl_utils/ntex_swagger"]
test = []

[build-dependencies]
clap = { version = "4.3.19", features = ["derive"] }
clap_mangen = { version = "0.2" }

[dev-dependencies]
serde_yaml = "0.9.25"

[dependencies]
log = "0.4.20"
clap = { version = "4.3.19", features = ["derive"] }
ntex = { version = "0.7.2", features = ["tokio"] }
tokio = { version = "1.31.0", features = ["fs"] }
futures = "0.3.26"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"
nanocld_client = "0.9.1"
nanocl_utils = { version = "0.2.1", features = [
  "logger",
  "io_error",
  "http_error",
  "serde_json",
  "versioning",
] }
utoipa = { version = "3.4", features = ["yaml"], optional = true }
