# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "ncdns"
version = "0.8.0"
edition = "2021"

[[bin]]
name = "ncdns"
test = true
bench = false
path = "src/main.rs"

[features]
dev = [
  "dep:utoipa",
  "nanocld_client/utoipa",
  "nanocl_utils/dev",
  "nanocl_utils/ntex_swagger",
  "nanocl_utils/ntex_test_client",
]
test = ["nanocl_utils/ntex_test_client"]
vendored = ["openssl/vendored"]

[build-dependencies]
clap = { version = "4.5", features = ["derive"] }
clap_mangen = { version = "0.2" }
nanocl_utils = { version = "0.7", features = ["build_tools"] }

[dev-dependencies]
serde_yaml = "0.9"

[dependencies]
nanocl_error = { version = "0.5", features = ["io", "http", "http_client"] }
log = "0.4"
clap = { version = "4.5", features = ["derive"] }
ntex = { version = "2", features = ["tokio", "openssl"] }
tokio = { version = "1.39", features = ["fs"] }
futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
nanocld_client = { version = "0.16", features = ["tokio"] }
nanocl_utils = { version = "0.7", features = ["ntex", "logger", "versioning"] }
utoipa = { version = "5", features = ["yaml"], optional = true }
openssl = "0.10"
num_cpus = "1.16.0"
