# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "ncdns"
version = "0.4.0"
edition = "2021"

[[bin]]
name = "ncdns"
test = true
bench = false
path = "src/main.rs"

[features]
dev = [
  "dep:utoipa",
  "nanocld_client/utoipa",
  "nanocl_utils/dev",
  "nanocl_utils/ntex_swagger",
  "nanocl_utils/ntex_test_client",
]
test = ["nanocl_utils/ntex_test_client"]

[build-dependencies]
clap = { version = "4.4.11", features = ["derive"] }
clap_mangen = { version = "0.2" }
nanocl_utils = { version = "0.3.1", features = ["build_tools"] }

[dev-dependencies]
serde_yaml = "0.9.25"

[dependencies]
log = "0.4.20"
clap = { version = "4.4.11", features = ["derive"] }
ntex = { version = "0.7.16", features = ["tokio"] }
tokio = { version = "1.34.0", features = ["fs"] }
futures = "0.3.26"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
nanocld_client = { version = "0.12.0", features = ["tokio"] }
nanocl_error = { version = "0.1.1", features = ["io", "http", "http_client"] }
nanocl_utils = { version = "0.3.1", features = [
  "ntex",
  "logger",
  "versioning",
] }
utoipa = { version = "4.1", features = ["yaml"], optional = true }
