[package]
name = "nanocld"
version = "0.13.0"
edition = "2021"
authors = ["nanocl contributors <team@next-hat.com>"]
description = "The Self-Sufficient Hybrid-Cloud Orchestrator Daemon"
readme = "../../readme.md"
license = "MIT OR Apache-2.0"
homepage = "https://next-hat.com/nanocl"
repository = "https://github.com/next-hat/nanocld"

[[bin]]
name = "nanocld"
test = true
bench = false
path = "src/main.rs"

[features]
default = ["release"]
dev = [
  "dep:utoipa",
  "bollard-next/utoipa",
  "nanocl_stubs/utoipa",
  "nanocl_utils/dev",
  "nanocl_utils/ntex_swagger",
  "nanocl_utils/ntex_test_client",
]
test = ["nanocl_utils/ntex_test_client", "nanocl_stubs/test"]
release = []

[build-dependencies]
clap = { version = "4.4", features = ["derive"] }
clap_mangen = { version = "0.2" }
nanocl_utils = { version = "0.4", features = ["build_tools"] }

[dev-dependencies]
serde_yaml = "0.9"

[dependencies]
nanocl_error = { version = "0.2", features = [
  "io",
  "http",
  "http_client",
  "diesel",
  "bollard",
  "serde_json",
  "serde_yaml",
  "tokio",
] }
bollard-next = { version = "0.15.4" }
log = "0.4"
futures = "0.3"
serde_yaml = "0.9"
env_logger = { version = "0.10" }
serde_json = "1.0"
diesel_migrations = "2.0"
clap = { version = "4.4", features = ["derive"] }
url = { version = "2", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
uuid = { version = "1.6", features = ["serde", "v4"] }
ntex = { version = "1.0", features = ["tokio", "openssl"] }
diesel = { version = "2.1", features = [
  "postgres",
  "r2d2",
  "chrono",
  "uuid",
  "serde_json",
] }
tokio = { version = "1.34", features = ["fs", "process", "io-std"] }
hyper = "0.14"
tokio-util = "0.7"
futures-util = "0.3"
libc = "0.2"
chrono = { version = "0.4", default-features = false, features = [
  "std",
  "clock",
  "serde",
] }
jsonschema = { version = "0.17", default-features = false }
nanocld_client = { version = "0.13", features = ["tokio"] }
metrsd_client = "0.5"
nanocl_stubs = { version = "0.13", features = ["serde"] }
nanocl_utils = { version = "0.4", features = ["unix", "ntex", "logger"] }
utoipa = { version = "4.2", features = ["yaml"], optional = true }
notify = "6.1"
ntex-cors = "0.5"
rand = "0.8"
