[package]
name = "nanocld"
version = "0.9.0"
edition = "2021"
authors = ["nanocl contributors <team@next-hat.com>"]
description = "The Self-Sufficient Hybrid-Cloud Orchestrator Daemon"
readme = "../../readme.md"
license = "MIT OR Apache-2.0"
homepage = "https://docs.next-hat.com/docs/guides/nanocl/overview"
repository = "https://github.com/nxthat/nanocld"

[[bin]]
name = "nanocld"
test = true
bench = false
path = "src/main.rs"

[features]
default = ["release"]
dev = [
  "dep:utoipa",
  "bollard-next/utoipa",
  "nanocl_stubs/utoipa",
  "nanocl_utils/ntex_swagger",
]
test = []
release = []

[build-dependencies]
clap = { version = "4.1.7", features = ["derive"] }
clap_mangen = { version = "0.2" }

[dev-dependencies]
serde_yaml = "0.9"

[dependencies]
bollard-next = { version = "0.15.0" }
r2d2 = "0.8"
log = "0.4.17"
futures = "0.3"
serde_yaml = "0.9"
env_logger = { version = "0.10" }
serde_json = "1.0.88"
diesel_migrations = "2.0.0"
clap = { version = "4.1.7", features = ["derive"] }
url = { version = "2", features = ["serde"] }
serde = { version = "1.0.148", features = ["derive"] }
uuid = { version = "1.2", features = ["serde", "v4"] }
ntex = { version = "0.7.2", features = ["openssl", "tokio"] }
diesel-derive-enum = { version = "2.0.0-rc.0", features = ["postgres"] }
diesel = { version = "2.0.1", features = [
  "postgres",
  "r2d2",
  "chrono",
  "uuid",
  "serde_json",
] }
tokio = { version = "1.23.1", features = ["fs", "process", "io-std"] }
hyper = "0.14.24"
tokio-util = "0.7.7"
futures-util = "0.3.26"
libc = "0.2.139"
chrono = { version = "0.4.24", default-features = false, features = [
  "std",
  "clock",
  "serde",
] }
jsonschema = { version = "0.17.0", default-features = false }
nanocld_client = { version = "0.9.0", features = ["tokio"] }
openssl = { version = "0.10.50", features = ["vendored"] }
metrsd_client = "0.3.0"
nanocl_stubs = { version = "0.9.0", features = ["serde"] }
nanocl_utils = { version = "0.2.0", features = [
  "unix",
  "ntex",
  "logger",
  "io_error",
  "http_error",
  "http_client_error",
  "serde_json",
  "serde_yaml",
  "diesel",
  "bollard",
] }
utoipa = { version = "3.2", features = ["yaml"], optional = true }
notify = "6.0.0"
