Kind = "Deployment"
ApiVersion = "v0.11"
Namespace = "global"

[[Cargoes]]
Name = "deploy-example"

[Cargoes.Container]
Image = "ghcr.io/nxthat/nanocl-get-started:latest:latest"
Env = ["APP=GET_STARTED1"]

[[Cargoes]]
Name = "deploy-example2"

[Cargoes.Container]
Image = "ghcr.io/nxthat/nanocl-get-started:latest:latest"
Env = ["APP=GET_STARTED2"]


[[Resources]]
Name = "deploy-example.com"
Kind = "ProxyRule"
Version = "v0.8"

[Resources.Data]
Watch = ["deploy-example.global.c", "deploy-example2.global.c"]

[[Resources.Data.Rules]]
Domain = "deploy-example.com"
Network = "Public"

[[Resources.Data.Rules.Locations]]
Path = "/"

[Resources.Data.Rules.Locations.Target]
Key = "deploy-example2.global.c"
Port = 9_000

[[Resources.Data.Rules.Locations]]
Path = "/v1"

[Resources.Data.Rules.Locations.Target]
Key = "deploy-example.global.c"
Port = 9_000

[[Resources.Data.Rules.Locations]]
Path = "/v2"

[Resources.Data.Rules.Locations.Target]
Key = "deploy-example2.global.c"
Port = 9_000
