# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "ncproxy"
version = "0.9.0"
edition = "2021"
authors = ["nanocl contributors <team@next-hat.com>"]
description = "Official nanocl controller daemon proxy"
readme = "readme.md"
license = "MIT OR Apache-2.0"
homepage = "https://next-hat.com/nanocl"
repository = "https://github.com/nxthat/nanocld"

[[bin]]
name = "ncproxy"
test = true
bench = false
path = "src/main.rs"

[features]
dev = [
  "dep:utoipa",
  "nanocld_client/utoipa",
  "nanocl_utils/dev",
  "nanocl_utils/ntex_swagger",
  "nanocl_utils/ntex_test_client",
]
test = ["nanocl_utils/ntex_test_client"]

[build-dependencies]
clap = { version = "4.4.11", features = ["derive"] }
clap_mangen = { version = "0.2" }
nanocl_utils = { version = "0.3.1", features = ["build_tools"] }

[dev-dependencies]
serde_yaml = "0.9.25"
bollard-next = "0.15.4"

[dependencies]
log = "0.4.20"
clap = { version = "4.4.11", features = ["derive"] }
ntex = { version = "0.7.14", features = ["tokio"] }
tokio = { version = "1.34.0", features = ["fs"] }
serde = "1.0.192"
serde_json = "1.0.108"
futures = "0.3.25"
notify = { version = "6.1.1", default-features = false, features = [
  "macos_kqueue",
] }
nanocld_client = { version = "0.12.0", features = ["tokio"] }
nanocl_error = { version = "0.1.1", features = [
  "io",
  "http",
  "http_client",
  "serde_json",
] }
nanocl_utils = { version = "0.3.1", features = [
  "ntex",
  "logger",
  "versioning",
] }
utoipa = { version = "4.1", features = ["yaml"], optional = true }
