# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "ncproxy"
version = "0.6.0"
edition = "2021"
authors = ["nanocl contributors <team@next-hat.com>"]
description = "Official nanocl controller daemon proxy"
readme = "readme.md"
license = "MIT OR Apache-2.0"
homepage = "https://docs.next-hat.com/docs/guides/nanocl/overview"
repository = "https://github.com/nxthat/nanocld"

[[bin]]
name = "ncproxy"
test = true
bench = false
path = "src/main.rs"

[features]
dev = ["dep:utoipa", "nanocld_client/utoipa", "nanocl_utils/ntex_swagger"]
test = []

[build-dependencies]
clap = { version = "4.4.5", features = ["derive"] }
clap_mangen = { version = "0.2" }

[dev-dependencies]
serde_yaml = "0.9.25"
bollard-next = "0.15.2"

[dependencies]
log = "0.4.20"
clap = { version = "4.4.5", features = ["derive"] }
ntex = { version = "0.7.4", features = ["tokio"] }
tokio = { version = "1.32.0", features = ["fs"] }
serde = "1.0.183"
serde_json = "1.0.107"
futures = "0.3.25"
notify = { version = "6.1.1", default-features = false, features = [
  "macos_kqueue",
] }
nanocld_client = { version = "0.9.1" }
nanocl_utils = { version = "0.2.1", features = [
  "ntex",
  "logger",
  "io_error",
  "http_error",
  "serde_json",
  "versioning",
] }
utoipa = { version = "3.5", features = ["yaml"], optional = true }
