openapi: 3.0.3
info:
  title: Nanocl Controller Dns
  description: |
    The `Nanocl Controller Daemon Dns` is an `HTTP REST API`.<br />
    It is the `API` the `Nanocl Daemon` uses, to create / update and delete `DnsRule`

    ## OpenAPI Specification
    This API is documented in **OpenAPI format** using [Utoipa](https://github.com/juhaku/utoipa)<br />
    The specification is generated automatically when running in development only.<br />
    When releasing a version, the generated file is transfered to our [Documentation](https://github.com/next-hat/documentation).


    ## Cross-Origin Resource Sharing
    This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).<br />
    And that allows cross-domain communication from the browser.<br />
    All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.
  license:
    name: ''
  version: v0.6.0
servers:
- url: /{Version}
  variables:
    Version:
      default: v0.6
      description: API version
      enum:
      - v0.5
paths:
  /rules/{name}:
    put:
      tags:
      - Rules
      summary: Create/Update a new DnsRule
      description: Create/Update a new DnsRule
      operationId: apply_rule
      parameters:
      - name: name
        in: path
        description: Name of the rule
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceDnsRule'
        required: true
      responses:
        '200':
          description: The created rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDnsRule'
    delete:
      tags:
      - Rules
      summary: Delete a ProxyRule
      description: Delete a ProxyRule
      operationId: remove_rule
      parameters:
      - name: name
        in: path
        description: Name of the rule
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Rule has been deleted
components:
  schemas:
    DnsEntry:
      type: object
      required:
      - Name
      - IpAddress
      properties:
        Name:
          type: string
        IpAddress:
          type: string
      additionalProperties: false
    ResourceDnsRule:
      type: object
      required:
      - Network
      - Entries
      properties:
        Network:
          type: string
        Entries:
          type: array
          items:
            $ref: '#/components/schemas/DnsEntry'
      additionalProperties: false
tags:
- name: Rules
  description: Rules management endpoints.
