name: Tests

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu_test:
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    # Install rust
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: llvm-tools-preview
    # Cache tests
    - uses: actions/cache@v3
      with:
        path: ./target/llvm-cov-target
        key: llvm-cov-key
    # Cache rust
    - uses: Swatinem/rust-cache@v2
    # Install cargo make
    - uses: davidB/rust-cargo-make@v1
    # Install llvm-cov
    - uses: taiki-e/install-action@cargo-llvm-cov
    # Install nextest
    - uses: taiki-e/install-action@nextest
    # Prepare CI
    - name: Prepare CI
      run: sudo ./scripts/prepare_ci.sh
    # Run our CLI setup command to install a daemon
    - name: Setup
      run: >-
        cargo run setup;
    # Debug
    - name: Debug
      run: >-
        sleep 5;
        docker container ls -a;
    # Run test
    - name: Run tests
      run: sudo newgrp nanocl && cargo make test
